@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap');
h2, h1, h3, h4, h5,h6 {
    color:#4a4e69;
    font-family: 'Nunito', Verdana, sans-serif;
    /*font-family: 'Be Vietnam Pro', sans-serif;*/
  }
p {
    font-family: 'Work Sans', Helvetica, sans-serif;
    /*font-family: Verdana, Helvetica, sans-serif;*/
}
header, footer{
    background-color: #ffc6ff;
    border: 2px solid #6c7074;
    border-radius: 20px 20px 20px 20px;
}

.portal-title {
    grid-row: 1/2;
}
main nav{
    grid-row: 3/4;
    font-family: Verdana, Helvetica, sans-serif;
}
.main-p {
    grid-row: 5/6;
}

body { 
    max-width: 900px;
    margin: 0 auto;
}

footer{
    text-align: center;
    padding: .5em;
    font-weight: bold;

}   
header img{
    margin: 2em;
}
header h1{
    font-size: 30px;
    margin: 0em 2em 2em;
}
