body {
    background-color: navy;
    margin: 40px auto;
	max-width: 700px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

img [data-src]{
    filter: blur(0.2em);
}

img{
    border-radius: 25px;
    border: 2px solid grey;
    margin: 1rem;
    filter: blur(0em);
    transition: filter 0.5s;
}
