
body { 
    max-width: 850px;
    margin: 0 auto;
    padding: 1.1em;
    background-color: #FEFAE0;
}

/* header */
header {
    display: flex;
    flex-wrap: wrap;
}

.date {
    font-size: 10vw;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
}

/* Logo and Title */
header .logo-name {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-name img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}
.logo-name h1 {
    margin: 20px 0px 20px 0px;
}

/* Navigation Bar */


nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #FEFAE0;
}

nav {
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #283618;
    padding: 0.75rem;
    font-size: 0.95rem;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #FEFAE0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    font-family: 'Merriweather', Garamond, serif;
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #DDA15E;
}

nav ul li a:hover {
    background-color: #606C38;
}

nav ul {display: none;}
nav ul.open {display: block;}


#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* social media imgs */
header section img {
    border-radius: 50% 50%;
    width: 40px;
    height: auto;
    float: right;
}

header, footer {
    background-color: #DDA15E;
    color:  #283618;
    padding: 1.1em;
    align-content: center;
    justify-content: center;
    text-align: center;
}
main div {
    border: 1px solid #283618;
    font-family: 'Merriweather', Garamond, serif;
    padding: 1rem;
    margin: 1rem;
    background-color: #F4E2CD;
}

.spotlight {
    padding: 0.5rem;
}
.spotlight3 {
    display: none;
}
.join {
    display: none;
}
h1, h2, h3 {
    font-family: 'Montserrat', Tahoma, sans-serif;
    color: #283618;
}
p {
    font-family: 'Merriweather', Garamond, serif;
}

footer img {
    width: 100px;
    height: auto;
    border-radius: 50%; 
}
footer div {
    border-top: 1px solid #F4E2CD;
    padding: 1rem;
}