@media only screen and (min-width: 64rem) {

    #hamburgerBtn { display: none;}

    nav ul#primaryNav {
        display: flex;
        justify-content: space-between;
        text-align: center;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3)
    }
    .logo-name{
        margin: 0;
        padding: 0;
    }
    .logo-name h1 {
        padding: 1em;
    }      
    .logo-name img {
        width: 80px;
    }
    .social {
        margin: 25px;
    }
    header .social img{
        border-radius: 50% 50%;
        width: 40px;
        height: auto;
    }

    .index-main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .event {
        grid-column: 1/2;
        grid-row: 1/2;
    }  
    .herodiv {
        grid-column: 2/4;
        grid-row: 1/3;
        margin-top: .5rem;
    }
    .call-action {
        top: 350px;
	    right: 50px;
        padding: 1em;
    }
    .spotlight3{
        display: block;
    }
    .spotlight {
        grid-column: 4/5;
        grid-row: 1/4;
        display: block;
    }
    .spotlight picture img {
        width: 90%;
        height: auto;
        padding: .8rem;
    }
    .join {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .news {
        grid-column: 2/4;
        grid-row: 3/4;
    }
    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }  
    .weather figure {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /*   Discover  */
    .discover-main {
        margin: 1.1em;
        padding: 2em;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1em;
    }

    /* Join */
    .join-main {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .join-main picture img {
        display: block;
        margin: 1em;
        margin-right: 1.5em;
        border-radius: 20px;
        border: 2px solid grey;
    }
    form fieldset {
        margin: 1em;
        padding: 0.5em;
    }
    fieldset.p-inf {
        width: 240px;
    }
    #directory-main .list section {
        margin: 0.25rem;
        padding: 0.35rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #directory-main .list section p {
        padding: 0.2rem;
    }

    /* Contact */
    .contact-main {
        display: grid;
        grid-gap: 1em;
    }
    .contact-main h2 {
        grid-column: 1/6;
    }
	
    .contact-main fielset.contact {
        grid-column: 1/2;
    }

    section.contact-inf {
        width: 220px;
    }

    section.location {
        grid-column: 5/6;
        text-align: center;
    }   
    .neuquenMap {
        height: 82%;
    }

}