/* @media only screen and (min-width: 40rem)  */
@media only screen and (min-width: 35rem) {

    .date {
        font-size: 1em;
    }
    #hamburgerBtn {
        padding: 2rem;
    }
    .logo-name h1 {
        font-size: 2em;
    }
    
    nav {
        background-color: rgb(52, 70, 32);
    }
    nav li {
        border-left: 1px solid black;
    }
    .index-main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .herodiv{
        grid-column: 1/6;
        grid-row: 1/2;
    }
    .call-action {
        top: 200px;
	    right: 50px;
    }
    .call-action a {
        text-decoration: none;
    }

    .news {
        grid-column: 1/6;
        grid-row: 3/4;
    }
    .spotlight {
        grid-column: 1/6;
        grid-row: 5/6;
        display: grid;
        grid-template: auto/ 1fr 1fr;
    }
    .spotlight .one {
        grid-column: 1;
    }
    .spotlight .two {
        grid-column: 2;
    }
    .join {
        display: block;
        grid-column: 1/6;
        grid-row: 7/8;

    }
    .join button {
        padding: 0.7em 1.7em;
        border-radius: 1.1em;
        background: #FBF5EE;
        border: 1px solid #F4E2CD ;
        transition: all .3s;
        box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #FEFAE0;
        margin-top: 2rem;
        cursor: pointer;
    }
    .join button a {
        color: #283618;
        font-size: 18px;
    }
    .join button a, .call-action a {
        text-decoration: none;
    }

    .join button:hover {
    border: 1px solid white;
    }

    .join button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #FEFAE0;
    }
    
    .event {
        grid-column: 1/4;
        grid-row: 9/10;
    }
    .weather {
        grid-column: 4/6;
        grid-row: 9/10;
    }
    footer {
        display: grid;
        grid-template: 1fr 1fr / repeat(2, 1fr);
        margin: 0;
        padding: 0;
    }
    footer section {
        grid-column: 1/2;
        margin: 1em;
    }
    footer .logo {
        display: flex;
        float: left;
        margin: 0 auto;
    }
    footer .logo img{
        margin: 15% 0 0 15%;
    }
    .information {
        grid-column: 2/3;
    }
    footer div {
        grid-column: 1/3;
    }
    /* Discover */
    .discover-main {
        padding: 2em;
    }
    
    .discover-main section img {
        box-shadow: 0 0 30px #333;
        width: 98%;
    }

    .discover-main img:hover {
        border-radius: 15%;
       }    


    /* join */
    
    .join-main form{
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr;
        max-width: 750px;
    }

    .p-inf {
        grid-column: 1;
        grid-row: 1/2;
        text-align: center;
    }  

    fieldset.membership {
        grid-column: 2;
        grid-row: 1/5;
        text-align: center;
    }
    #submitBtn {
        grid-column: 2;
        box-shadow: 10px 10px 10px #333;
    } 
    form fieldset {
        box-shadow: 10px 10px 10px #333;
    }
    .join-img img{
        box-shadow: 10px 10px 10px #333;
    }
    /* thank you */
    main.thanku {
        padding: 1.1em;
        display: flex;
    }
    section.thanks {
        padding: 3em;
    }
    footer p.visit {
        grid-column: 1/3;
    }

    /* directory */

    #directory-main .list section {
        flex-direction: row;
        justify-content: left;
        padding: 1em;
    }
    #directory-main .list section p{
        padding: 1em;
    }

    .contact-main {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.contact-main h2{
		grid-column: 1/4;
	}
	.location {
	grid-column: 1/4;
	grid-row: 2;
	border-radius: 20px;
	}
	
	form.contact {
		grid-column: 1/2;
	}
	.contact-inf {
		grid-column: 3/4;
        margin-top: 2em;
		width: 300px;
		height: 250px;
	}
    
    .location, .contact-inf, fieldset.contact, #contactBtn{
        box-shadow: 10px 10px 10px #333; 
    }
}