/* @media only screen and (min-width: 40rem)  */
@media only screen and (min-width: 35rem) {

    .date {
        float: left;
        font-size: 1em;
    }

    .logo-name img {
        width: 100%;
        max-width: 130px;
        height: auto;
        border-radius: 50%;
        margin: 1em 0 1em 5em ;
    }
    .logo-name button {
        padding: 0;
        margin: 0 auto;
        display: flex;
        align-items: left;
    }
    .logo-name h1 {
        font-size: 3em;
        padding: 1em;
    }
    

    nav {
        background-color: #283618;
        /* padding: 0.75rem;
        font-size: 0.95rem; */
    }
    
    main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .herodiv{
        grid-column: 1/6;
        grid-row: 1/2;
    }
    .news {
        grid-column: 1/6;
        grid-row: 3/4;
    }
    .spotlight {
        grid-column: 1/6;
        grid-row: 5/6;
        display: block;

    }
    .join {
        display: block;
        grid-column: 1/6;
        grid-row: 7/8;

    }
    .join button {
        color: #283618;
        padding: 0.7em 1.7em;
        font-size: 18px;
        border-radius: 1.1em;
        background: #FBF5EE;
        border: 1px solid #F4E2CD ;
        transition: all .3s;
        box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #FEFAE0;
        margin-top: 2rem;
        }

    button:hover {
    border: 1px solid white;
    }

    button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #FEFAE0;
    }
    
    .event {
        grid-column: 1/4;
        grid-row: 9/10;
    }
    .weather {
        grid-column: 4/6;
        grid-row: 9/10;
    }
}