@media only screen and (min-width: 35rem) {

    /* social -----------------------------------  */

    .social i{
        margin: 1em 0em;
        background-color: #292929;
        color: lightcyan;
        padding: .8em;
        border-radius: 50px;
        border: 1px solid #686868;
      }
      .social i:hover {
        background-color: black;
        color: #FFED85;
        margin: 1em;
      }

      /* nav-------------------- */

    .navigation {
        margin: 1em;
        }


    /* footer -----------------  */
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }
    footer img, footer section.social {
        margin-top: 1em;
        padding: 1em;
        justify-self: center;
    }
    footer p {
        grid-column: 1/4;
    }

    /* call to action */
    .call-action {
        position: absolute;
        top: 40px;
        right: 50px;
        padding: .5rem;
        opacity: .9;
        font-size: 1em;
      }


}