header {
  padding: 1.1em;
  background-color:#FFF;
  color: #0D406E;
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 15%);
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
}


.sticky-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

body {
  background-color: #FDF9ED;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', Helvetica, sans-serif;
}
p, a {
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

/* social --------------------------------------------------- */

.social i{
  margin: 1.5em 0em;
  color: #292929;
  padding: .75em;
}


/* Navigation Bar ----------------------------------------*/

#hamburgerBtn {
  /* margin: .3rem 2vw; */
  margin: 0 .5em;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  color: #0D406E; 
}

#navigation {
list-style: none;
margin: 1em;
padding: 0;
text-align: center;
}
nav{
grid-column: 1/4;
grid-row: 2;
}

#navigation a {
background-color: #686868;
display: block;
padding: 1rem;
text-decoration: none;
color: lightcyan;
font-weight: 500;
transition: 0.5s;
}

nav ul li a:link {
  color: #FDF9ED;
}
#navigation li.active a {
  background-color: #FFD700;
  color: #292929;
}


nav ul {display: none;}
nav ul.open {display: block;}


#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* footer  ------------------------------------- */
footer {
  text-align: center;
  background-color: #FFF;
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 15%);
}

footer a {
  color: #141414;
  text-decoration: none;
}
span#icon-src {
  color: transparent;
}

/* ---------------------Home------------------------------*/

.index-main {
  max-width: 960px;
  margin: 0 auto;
  padding: 1.1em;
  display: grid;
}

/* hero ------------------ */
.herodiv{
  position: relative;
}

.herodiv img {
  width: 100%;
  height: auto;
}

.call-action {
  position: absolute;
  top: 5px;
  right: 5px;
  background: radial-gradient(#d2ccb0, #c7a89c );
  border: 1px solid #c4a48f;
  padding: .1rem;
  box-shadow: 0 0 30px #4A441F;
  opacity: .9;
  font-size: .7em;
  border-radius: 20px;
}

.call-action a {
  text-decoration: none;
  color: #141414;
}

/*temple Section ---------------------------------*/
.campinas, .contact-sec, .current-weather {
  border: 1px solid #292929;
  padding: 1em;
  margin: 1em auto;
  min-width: 280px;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;
}
.campinas img {
 max-width: 90%;
 height: auto;
 border: 2px solid #FFD700;
 box-shadow: 0px 0px 30px #FFED85;
}

.campinas a, .contact-sec a {
  text-decoration: none;
  font-weight: bold;
  color: #292929
}

.campinas p, .contact-sec p {
  margin: 0 1.1em;
}

/* Contact information section*/
.contact-sec div {
  margin: 3em auto;
}
a.contact-btn {
  padding: 1em 1.6em ;
  margin: 1em auto;
  border-radius: 20px;
  background-color: #686868;
	text-decoration: none;
	color: lightcyan;
	font-weight: 500;
	transition: 0.5s;
  box-shadow: 0px 0px 10px #292929;
}

/* ----------------------------------------------------------*/

.current-weather figcaption{
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;   
}