body {
    background-color: rgb(210, 246, 240);
}
header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px;
}
main {
    margin: 40px auto;
	max-width: 700px;
}

div{
    padding: 10px;
    margin-bottom: 100px;

}
img {
    width: 100%;
    height: auto;
}